@media all and (min-width: 480px) {
  .Login {
    background: linear-gradient(#86efc3, #f3f3f3);
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }

  .button {
    width: 396px;
    height: 97px;
    left: 288px;
    top: 836px;

    background: #047e61;
    border-radius: 40px;
  }
}
