@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

.homepage {
    font-family: 'Roboto Condensed';
    background-image: url('./assets/homePageBackground.png');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    mix-blend-mode: normal;
    overflow-y: scroll;
    position: relative;
}

.confirm-card{
    top: -20;
    align-self: center;

}

.confirm-vector{
    align-self: center;

}

.confirm-text{
    font-style: normal;
    font-weight: normal;
    font-size: 36px;

}