@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

.confirm-card {
  font-family: "Roboto Condensed";
  background: linear-gradient(135deg, #022c18 60%, #00b68b);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  mix-blend-mode: normal;
  overflow-y: scroll;
  position: relative;
}

.super-man{
  width: 30%;
  margin-left: 31%;



}



.confirm-card {
  top: -20;
  align-self: center;
  
}

.confirm-vector {
  align-self: center;
}


.confirm-text {
  font-style: normal;
  margin-left: 38%;
  color: beige;
  font-weight: normal;
  font-size: 36px;
  align-self: center;
  
}

.remaining-time{
  font-style: normal;
  margin-left: 38%;
  color: rgb(245, 245, 94);
  font-weight: normal;
  font-size: 25px;
  align-self: center;

}
.button-div{
  margin-right:2%;
  
  

}




@media (max-width: 640px) 
{

  .confirm-text{
    margin-left:20%;
    
  }

  .button-div{
    width:25%;
    font-size: 12px;
    margin-left:24%;
    
  }

  

  .remaining-time{
    margin-left:20%;
  }
  
}
