* { box-sizing: border-box; }
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');
@media all and (min-width: 480px) {
  
  .Login {
    /*background: linear-gradient(#86efc3, #f3f3f3);*/
    display:flex;
    height: 100vh;
  }

  .left{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    animation-name: left;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 1s;

  }

  .right{
    flex: 1;
    background-color: black;
    transition: 1s;
    background-image: url(https://images.unsplash.com/photo-1565123409695-7b5ef63a2efb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

  }

  .header > h2 {
    margin: 0;
    color: #07662e;
  }
  
  .header > h4 {
    margin-top: 10px;
    font-weight: normal;
    font-size: 15px;
    color: rgba(0,0,0,.4);
  }
  
  .form {
    max-width: 80%;
    display: flex;
    flex-direction: column;
  }

  .Login form {
    margin: auto;
    max-width: 400px;
  }

  .form > p {
    text-align: right;
  }
  
  .form > p > a {
    color: #000;
    font-size: 14px;
    margin-left: 10px;
  }
  
  .form-field {
    height: 46px;
    padding: 0 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-family: 'Rubik', sans-serif;
    outline: 0;
    transition: .2s;
    margin-top: 20px;
  }
  
  .form-field:focus {
    border-color: #0f7ef1;
  }
  
  
  .form > button {
    padding: 12px 10px;
    border: 0;
    background: linear-gradient(to right, #034b07 0%,#b40707 100%); 
    border-radius: 3px;
    margin-top: 10px;
    
    color: #fff;
    letter-spacing: 2px;
    font-family: 'Rubik', sans-serif;
  }

  
  .animation {
    animation-name: move;
    animation-duration: .4s;
    animation-fill-mode: both;
    animation-delay: 2s;
  }
  
  .a1 {
    animation-delay: 2s;
  }
  
  .a2 {
    animation-delay: 2.1s;
  }
  
  .a3 {
    animation-delay: 2.2s;
  }
  
  .a4 {
    animation-delay: 2.3s;
  }
  
  .a5 {
    animation-delay: 2.4s;
  }
  
  .a6 {
    animation-delay: 2.5s;
  }
  
  @keyframes move {
    0% {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-40px);
    }
  
    100% {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  
  @keyframes left {
    0% {
      opacity: 0;
      width: 0;
    }
  
    100% {
      opacity: 1;
      padding: 20px 40px;
      width: 440px;
    }
  }

  .button {
    width: 196px;
    height: 40px;
    left: 290px;
    margin-top: 50px;
    color: azure;

    background: #047e61;
    border-radius: 40px;
  }
  
  .button:disabled {
    color: rgb(194, 194, 194);
    background: #4e4e4e;
  }

  .form-name{
    margin-right: 20px;
    margin-top: 50px;
    
  }

  .logo-image{
    margin-left:30%;
    width: 150px;
    margin-top:1%;

    
  }

  

}

.button{
  margin-left: 20px;
}


.form > button:hover{
  background: #07662e;


}
