.userpage {
  font-family: "Roboto Condensed";
  background: linear-gradient(#fffefe, #022c18, #047e61);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  mix-blend-mode: normal;
  overflow-y: scroll;
  position: relative;
}

.order-card-list {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
}

.order {
  background-color: rgb(142, 192, 161);
  margin-bottom: 5%;
  text-align: left;
  padding: 3%;
}

.order-header {
  font-style: normal;
  font-weight: normal;
  font-size: 24px; 
}

.order-status {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  float: right;
}

.logo {
  background-color: white;
  font-size: 38px;
  width: 90%;
  height: 125px;
  line-height: 125px;
  margin: 5%;
  text-align: center;
  border-radius: 20%/80%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.button{
  margin-bottom: 10%;
  margin-right: 60%;
  background: linear-gradient(to right, #034b07 0%,#b40707 100%); 
    
}


.logout-button {
    margin-bottom: 3%;
    width: auto;
    height: auto;
    font-size: 32px;
    background-color: rgb(163, 73, 73);
    color: white;
    border: 0;
    cursor: pointer;

    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  .logout-button:hover {
    background-color:rgb(236, 121, 121);
    box-shadow: 0px 16px 32px -3px rgba(0, 0, 0, 0.4);
    transform: translateY(-3px);
  }

  #home{
    margin-left:40%;
    font-size: 20px;
    background: linear-gradient(to right, #034b07 0%,#b40707 100%); 
    border-radius: 3px;
    margin-top: 10px;
    color: #fff;
    border:0;
    letter-spacing: 1px;
    font-family: 'Rubik', sans-serif;
  }
  
  #detail{
    background: linear-gradient(to right, #034b07 0%,#b40707 100%); 
    color: #fff;
    border:0;
    letter-spacing: 1px;
    font-family: 'Rubik', sans-serif;
    
  }

  
  
  #logout{
    margin-left:40%;
    margin-bottom: 2%;
    font-size: 20px;
    margin-top:-10%;
    background: linear-gradient(to right, #034b07 0%,#b40707 100%); 
    border-radius: 3px;
    margin-top: 10px;
    border:0;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Rubik', sans-serif;
  }

  #details{
    margin-bottom: -15%;
    background: linear-gradient(to right, #034b07 0%,#b40707 100%); 
    border-radius: 3px;
    margin-top: 10px;
    color: #fff;
    border:0;
    letter-spacing: 1px;
    font-family: 'Rubik', sans-serif;
  }

 
 
 /*for mobile phone size*/
 
  @media (max-width: 840px) 
{

  .logo {
    background-color: white;
    font-size: 10px;
    width: 90%;
    height: 125px;
    line-height: 125px;
    margin: 5%;
    text-align: center;
    border-radius: 20%/80%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .order-header {
    font-style: normal;
    font-weight: normal;
    font-size:18px; 
  }
  
  .order-status {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    float: right;
  }
  
  #home{
    margin-left:12%;
  }

  #logout{
    margin-left:12%;
  }
  
}
