@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

.vanpage {
  font-family: "Roboto Condensed";
  background-image: url("./assets/homePageBackground.png");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  mix-blend-mode: normal;
  overflow-y: scroll;
  position: absolute;
}

/** Item list **/

.menu-row {
  margin-left: 2rem;
}
.menu-items {
  width: 60vw;
  background-color: rgba(95, 255, 216, 0.4);
  padding-bottom: 2%;
  border-radius: 20px;
}

.item-card-base {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 4px #00000040;
  height: 175px;
  width: 175px;
  text-align: center;
  display: inline-block;
  margin-left: 3%;
  margin-top: 3%;
  cursor: pointer;

  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.item-card-base:hover {
  box-shadow: 0px 16px 32px -3px rgba(0, 0, 0, 0.4);
  transform: translateY(-3px);
}

.item-card-name {
  font-size: 20px;
  margin-bottom: 3%;
}

.item-card-price {
  font-size: 18px;
  margin-bottom: 3%;
}

.item-card-image {
  width: 50%;
  height: 50%;
}

/** Right vendor bubble **/

.vendor-bubble {
  background-color: rgba(236, 16, 16, 0.8);
  color: black;
  /* border-radius: 70% / 100%; */
  /*   */
  border-radius: 100px;
  height: 350px;
  width: 00px;
  left: 80vw;
  top: 30vh;
  float: right;
  position: absolute;
  /* float: left;
  width: 40px;
  height: 80px;
  line-height: 80px;
  color: white;
  text-align: center;
  margin: 0 1px;
  background: black; */
}
/* .vendor-bubble-left {
  padding-top: 10%;
  text-align: center;
  position: relative;
} */

.vendor-bubble-name {
}

.vendor-bubble-image {
  width: 150px;
  height: auto;
  /* position: relative; */
  top: 10;
}

/** Ordering items **/

.order-items {
  width: 80vw;
  min-height: 20vh;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 50px;
  vertical-align: middle;
}

.order-items-left {
  width: 80%;
  display: inline-block;
}

.order-items-right {
  width: 20%;
  display: inline-block;
  vertical-align: middle;
}

.order-item-card-base {
  width: 150px;
  height: 150px;
  text-align: center;
  display: inline-block;

  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.order-item-card-base:hover {
  box-shadow: 0px 16px 32px -3px rgba(0, 0, 0, 0.4);
  transform: translateY(-3px);
}

.order-item-card-quantity {
  font-size: 32px;
}

.order-item-card-image {
  width: 50%;
  height: 50%;
}

/** Buttons **/

.order-button {
  width: 200px;
  height: 60px;
  border-radius: 25%/75%;
  background-color: #047e61;
  color: white;
  border: 0;
  font-weight: bold;
  font-size: 32px;

  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.order-button:hover {
  background-color: #0d4d3e;
}

.back-button {
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  width: 100px;
  height: 100px;
  border-radius: 50%/50%;
  background-color: #047e61;
  border: 0;
  font-weight: bold;

  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.back-button:hover {
  background-color: #48d6b5;
}

.left-arrow {
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 10px;

  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.row {
  padding-top: 5rem;
}
